.footer {
    padding: 150px 0;
    background: #252B42;
    &-container {
        max-width: 1050px;
        display: grid;
        grid-template-columns: 9fr 5fr;
        gap: 125px;
    }
    &-list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
        text-align: left;
        &-item {
            .title {
                color: #FFFFFF;
                margin-bottom: 16px;
            }
            ul {
                display: block;
                margin: 0;
                padding: 0;
            }
            li {
                margin-bottom: 14px;
                margin-left: 0;
            }
            a {
                font-weight: normal;
                font-size: 15px;
                line-height: 28px;
                letter-spacing: 0.2px;
                color: #FFFFFF;
            }
        }
    }
    &-contact {
        text-align: left;
        .contact-link {
            margin-bottom: 20px;
            i {
                font-size: 25px;
                color: #fff;
                margin-right: 10px;
            }
            a {
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                    i {
                        color: turquoise;
                    }
                }
            }
        }
        ul {
            margin: 0;
            margin-top: 30px;
            padding: 0;
        }
    }
    @media (max-width: 768px) {
        &-container {
            grid-template-columns: 9fr 3fr;
            gap: 20px;
        }
    }
    @media (max-width: 565px) {
        padding: 130px 0;
        &-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 75px;
        }
        &-list {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 75px;
            &-item {
                text-align: center;
            }
        }
        &-contact ul {
            justify-content: center;
        }
    }
}