section.Fastest#Fastest
    .container.Fastest-item
        .content
           h1.header-title Fastest way to organize
           h2.subtitle Most calendars are designed for teams. Slate is designed for freelancers
           a(href="").btn.btn-secondary Try For Free
        img(src="./assets/images/Fastest.png", alt="")