.header 
	.mobile.container 
		img.mobile-logo(src="./assets/images/logo.png", alt="")
		.toggle
			img.mobile-logo(src="./assets/images/Vector.png", alt="")
	nav.container.nav
		ul.link 
			li.link-item 
				a(href="") Home 
			li.link-item 
				a(href="#Features") Product
			li.link-item 
				a(href="#Pricing") Pricing
			li.link-item 
				a(href="#Partners") About
			li.link-item 
				a(href="#contact") Contact
		img.logo(src="./assets/images/logo.png", alt="")
		ul.social  
			li.link-item 
				a(href="") 
					i.fab.fa-twitter
			li.link-item 
				a(href="")
					i.fab.fa-facebook-square
			li.link-item 
				a(href="") 
					i.fab.fa-linkedin
	.container.banner 
		h1.title The best products start with Figma
		h4.desc Most calendars are designed for teams. Slate is designed for freelancers
		a(href="").btn.btn-primary Try For Free 
		