section.Lightning#Lightning
    .container.Lightning-container
        .Lightning-mobile
            h3.title At your fingertips
            h2.sub-title Newsletter 
            h4.desc Most calendars are designed for teams.Slate is designed for freelancers
        img(src="./assets/images/Lightning.png", alt="")
        .content
           h3.title At your fingertips
           h2.sub-title Lightning fast prototyping 
           h3 Subscribe to our Newsletter
           p Available exclusivery on Figmaland
           form.form
                input#ip.form-input(type="email", name="" placeholder="Your Email" required)
                button.btn.btn-primary Subscribe  