section.Partners#Partners
    .container 
        h1.header-title Partners
        h2.subtitle 
            |Most calendars are designed for teams. 
            br
            |Slate is designed for freelancers
        .container.Social
            img(src="./assets/images/gg.png", alt="")
            img(src="./assets/images/amz.png", alt="")
            img(src="./assets/images/mics.png", alt="")
            img(src="./assets/images/uber.png", alt="")
            img(src="./assets/images/dropbox.png", alt="")
            img(src="./assets/images/gg.png", alt="")
            img(src="./assets/images/uber.png", alt="")
            img(src="./assets/images/amz.png", alt="")
        a(href="").btn.btn-secondary Try For Free