section.Testimonials#Testimonials
    .container 
        h1.header-title Testimonials
        img.logo(src="./assets/images/imb.png", alt="")
        h4 
            |Most calendars are designed for teams. Slate is designed for freelancers 
            br
            |who want a simple way to plan their schedule.
        .user 
            img.user-avt(src="./assets/images/user.png", alt="")
            .text 
                p Organize across
                p Ui designer
        a(href="").btn.btn-secondary More Testimonials